
@font-face {
  font-family: 'SSTArabic-Bold';
  src: url('SSTArabic-Bold.eot?#iefix') format('embedded-opentype'),  url('SSTArabic-Bold.woff') format('woff'), url('SSTArabic-Bold.ttf')  format('truetype'), url('SSTArabic-Bold.svg#SSTArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
