
@font-face {
  font-family: 'SSTArabic-Medium';
  src: url('SSTArabic-Medium.eot?#iefix') format('embedded-opentype'),  url('SSTArabic-Medium.woff') format('woff'), url('SSTArabic-Medium.ttf')  format('truetype'), url('SSTArabic-Medium.svg#SSTArabic-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
