<div class="container-floid">
<header>
  
  <div class="flex flex--opacity">
    <nav class="navbar navbar-expand-sm navbar-light">
    

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
    

      <div class="collapse navbar-collapse" id="collapsibleNavbar1">
        <ul class="nav navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#">Trustees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><fa-icon [icon]="faHeadset"></fa-icon> 000000000000</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">عربي</a>
          </li>
          <li class="nav-item flex__KnowledgeCenter">
            <a class="nav-link navbar-text" href="#">Knowledge Center</a>
          </li>
          <li class="nav-item flex__Eservice">
            <a class="nav-link navbar-text" href="#">E-Service</a>
          </li>
          
          
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex">
  <nav class="navbar navbar-expand-sm navbar-light" style="width: 100%;">
    
    <a class="navbar-brand" href="#">
      <img src="../assets/images/bravo-9.png" alt="BRAVO LOGO" />
    </a>
  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <div class="collapse navbar-collapse " style="margin-left: auto;" id="collapsibleNavbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Commision
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Commision 1</a>
            <a class="dropdown-item" href="#">Commision 2</a>
            <a class="dropdown-item" href="#">Commision 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            System
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">System 1</a>
            <a class="dropdown-item" href="#">System 2</a>
            <a class="dropdown-item" href="#">System 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Training
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Training 1</a>
            <a class="dropdown-item" href="#">Training 2</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Announcments</a>
        </li>
        <li class="nav-item">
          <div class="flex___BarSearch">
            <fa-icon class="flex__Bar" [icon]="faBars"></fa-icon>
            <div class="flex__Search" tabindex="0" (click) = "toggleSearchBarFocus()" (blur)="toggleSearchBarUnFocus()">
              <fa-icon [ngStyle]="{'display': searchBarToggle ? 'none':'inline' }"  [icon]="faSearch"></fa-icon>
              <input (blur)="toggleSearchBarUnFocus()" class="flex__search__input" type="text" placeholder="Search" [ngStyle]="{'display': searchBarToggle ? 'block':'none' }">
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class=" container footer">
    <div class="footer__block1">
      <div class="footer__block1__icons">
      <a href="#"><fa-icon class="footer__block__icon" [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon class="footer__block__icon" [icon]="faFacebookMessenger"></fa-icon></a>
      <a href="#"><fa-icon class="footer__block__icon" [icon]="faLinkedin"></fa-icon></a>
      <a href="#"><fa-icon class="footer__block__icon" [icon]="faYoutube"></fa-icon></a>
      <a href="#"><fa-icon class="footer__block__icon" [icon]="faTwitter"></fa-icon></a>
    </div>
    <img class="img-responsive" src="../assets/images/Group 480.png" >
    </div>
    <div class="footer__block2">
      <div class="footer__block2__img">
        <img class="img-responsive" src="../assets/images/bravo-9-1.png" >
      </div>
      <div class="footer__block2__img">
        <img class="img-responsive" src="../assets/images/Image 3.png" >
      </div>
      <p class="footer__block2__paragraph">All Rights Reserved &copy; 2020</p>
    </div>
    <div class="footer__block3">
      <div class="footer__block3__text">
        <h5>Newsteller</h5>
        <p>Enter your email to get all new about bankruptcy</p>
      </div>
      <form class="footer__block3__form">
        <input type="text" placeholder="Write your email">
        <button class="btn">Join</button>
      </form>
    </div>
  </div>
</footer>
</div>

